*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  height: 4vw;
  background-color: black;
  color: white;
}
.center-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-left,.header-right{
  font-size: 2vw;
  margin: 0;
}
.header-left{
  width: 20%;
}
.header-right{
  width: 80%;
}
.sideNav{
  width: 20%;
  background-color: black;
  color: white;
  margin: 0%;
}
.side-nav-button{
  padding: 2%;
  margin: 1%;
  color:white;
  border: 0.1vw #e0c677 solid;
}
.side-nav-button:hover{
  color:#BF9515;
  border: 0.1vw white solid;
}